html, body {
  cursor: none;
  margin: 0;
  padding: 0;
}

html {
  background: black;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  overflow: hidden;
  position: relative;
}

.Score {
  bottom: 10px;
  font-size: 80px;
  font-weight: 300;
  left: 0;
  opacity: 0.6;
  pointer-events: none;
  position: fixed;
  text-align: center;
  user-select: none;
  width: 100%;
  will-change: contents;
  z-index: 2;
}

.Entity {
  border-radius: 9999px;
  height: 50px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50px;
  will-change: opacity, transform;
}

.Me {
  background-color: dodgerblue;
  box-shadow:
    0 0 300px dodgerblue,
    0 0 100px dodgerblue,
    0 0 50px rgba(255, 255, 255, 0.4);
  opacity: 1;
  transition: opacity 200ms ease;
}

.Them {
  background-color: orangered;
  box-shadow:
    0 0 300px orangered,
    0 0 100px orangered;
  transition-timing-function: linear;
  z-index: 1;
}
